body {
  padding-top: 60px;
}

.issue {
  .conversation {
    background-color: #eee;
    padding: 10px 20px;
  }

  &.list {
    .entry {
      padding: 5px 10px;
      ul {
        list-style: none;
        cursor: pointer;
        margin-left: 0;
        li.metadata {
          font-size: 87%;
          span {
            display: inline-block;
            &.reporter { float: right }
            &.date.received { font-style: italic }
          }
        }
      }

      margin-bottom: 10px;
      border-bottom: solid 1px #aaa;
      &:last-child { border: none }

      &.selected { background-color: #eee }
    }
  }

}
