<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/eda.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script type="text/template" id="issue-template">
      <h2><%= subject %></h2>
      <p><%= description %></p>
    </script>

    <script type="text/template" id="issue-list-entry-template">
      <ul>
        <li><span class="subject"><strong><a href="issues/<%= id %>" data-backbone_link="true"><%= subject %></a></strong></span></li>
        <li><span class="abstract"><%= description %></span></li>
        <li><span class="reporter"><%= reporter %></span></li>
        <li><span class="received date"><%= created_at %></span></li>
      </ul>
    </script>

    <script type="text/template" id="issue-list-template">
      <h2>New Issues</h2>
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Hotboy Inc.</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <ul class="pills">
        <li class="active"><a href="#">New (2)</a></li>
        <li><a href="#">In Progress (4)</a></li>
        <li><a href="#">Waiting (1)</a></li>
        <li><a href="#">Done (23)</a></li>
      </ul>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span5 issue list">
        </div>
        <div class="span11 issue">
        </div>
      </div>

      <footer>
        <p>&copy; Galaxy Cats 2011</p>
      </footer>

    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="/js/underscore.min.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/app/application.js"></script>
    <script src="/js/app/eda.js"></script>
  </body>
</html>
